<!DOCTYPE html>
<html>
    <head>
        <title>Meme Generator</title>
        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="app">
            <div id="title_bar">
                Meme Generator
                <div id="search_bar">
                    <input type="text" placeholder="Search for images" v-model="query" v-on:keyup.enter="search_call()">
                    <button type="submit" @click="search_call()">Search</button>
                </div>
            </div>
            <div v-for="photo in photos" id="search_results">
                <img v-bind:src="get_img_url(photo)">
            </div>
        </div>
        <script src='script.js'></script>
    </body>
</html>