<!DOCTYPE html>
<html>
    <head>
        <title>Meme Generator</title>
        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        <script src="http://html2canvas.hertzen.com/dist/html2canvas.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="app">
            <div id="title_bar">
                <span id="home" @click="home_click">Meme Generator</span>

                <!--Search bar for images-->
                <div id="search_bar">
                    <input type="text" placeholder="Search for images" v-model="query" v-on:keyup.enter="search_call(1)">
                    Sort by:
                    <!--Sort options-->
                    <select id="sort_option" v-model="sort">
                        <option value="relevance">Relevance</option>
                        <option value="date-posted-asc">Date Posted Asc</option>
                        <option value="date-posted-desc">Date Posted Desc</option>
                        <option value="date-taken-asc">Date Taken Asc</option>
                        <option value="date-taken-desc">Date Posted Desc</option>
                        <option value="interestingness-asc">Interestingness Asc</option>
                        <option value="interestingness-desc">Interestingness Desc</option>
                    </select>
                    <button type="submit" @click="search_call(1)">Search</button>
                </div>
            </div>

            <!--Search result page-->
            <div v-if="!is_selected" id="search_results_page">
                <span v-if="current_page == 0">Use the search bar at the top right to search for images. Select an image that you want to put text on. Add text in the large textbox and change the position of the text if desired. If you want to download the image as a .png file, click the 'Download Meme' button.</span>

                <!--List of Photos-->
                <div v-for="photo in photos" id="search_results">
                    <img v-bind:src="get_img_url(photo)" @click="photo_click(photo)">
                </div>
                <br>

                <!--Page navigation-->
                <div v-if="current_page != 0 && response.photos.pages != 0" id="pagination">
                    <button v-if="current_page != 1" @click="search_call(current_page - 1)" id="navigation">Previous</button>
                    Page {{current_page}} of {{response.photos.pages}}
                    <button v-if="current_page != response.photos.pages" @click="search_call(current_page + 1)" id="navigation">Next</button>
                </div>
            </div>

            <!--Adding text to photo-->
            <div v-if="is_selected" id="add_text">
                <!--Figure contains all of the meme-->
                <figure id="meme">
                    <!--Putting text above image-->
                    <span id="text_above" v-if="position == 'above'">{{ meme_text }}</span>

                    <!--Putting text on top of image-->
                    <!--Creates div with image as background, set to right size-->
                    <div id="text_ontop" v-if="position == 'ontop'" v-bind:style="{width: img_width.toString() + 'px', height: img_height.toString() + 'px', backgroundImage: 'url(' + img_url + ')'}">{{ meme_text }}</div>
                    
                    <img v-bind:src="img_url">
                    
                    <!--Putting text below image-->
                    <span id="text_below" v-if="position == 'below'">{{ meme_text }}</span> 
                </figure>
                <br>
                <!--Lets user select position-->
                Set text position to: 
                <select id="text_position" v-model="position">
                    <option value="above">Above</option>
                    <option value="below">Below</option>
                    <option value="ontop">On Top</option>
                </select>
                <br>

                <!--Textbox to type meme text into-->
                <textarea id="meme_text" rows = "5" cols = "60" placeholder="Add text to image" v-model="meme_text"></textarea>
                <br>
                <button @click="save_photo()">Download Meme</button>
            </div>
        </div>
        <!--Vue script-->
        <script src='script.js'></script>
    </body>
</html>